* {
	text-align:center;
	font-family:courier, "courier new";
}
body {
	background: linear-gradient(lightgreen, #e1f7d5);
	background-repeat: repeat-x;
}
main, nav, header, footer{
	margin-left:10%;
	margin-right:10%;
}
li{
	display:inline;
	padding-left:3%;
	padding-right:3%;
}
nav{
	position: sticky;
	top;0;
	z-index:1;
}
	background-color:rgba(0, 255, 0, 0.5);
	margin-left:20%;
	margin-right:20%;
}
a{
	text-decoration:none;
	text-transform:uppercase;
	color:white;
	font-size:2em;
}
#negrito:hover{
	font-weight:bold;
}
.cor:hover{
	background-color:rgba(128, 0, 0, 0.8);
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-ms-transition: 2s;
	-o-transition: 2s;
	transition: 2s;
}